.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.bola-vermelha {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
}

.bola-amarela {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 100%;
}

.bola-verde {
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 100%;
}
