.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.q1 {
    width: 150px;
    height: 150px;
    background-color: red;
}

.q2 {
    width: 150px;
    height: 150px;
    background-color: green;
}
