@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    padding: 20px;
}

section {
    margin-bottom: 40px;    
}

h2 {
    margin-bottom: 10px;
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(133, 170, 255);
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 12px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: azure;
    border: 2px solid black;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

